@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

/* body {
    height: 100vh;
    background-color: skyblue;
    background-image: url(../img/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
} */

body {
    height: 100vh;
    background: blue url(../img/wallpaper002.jpg) center center  no-repeat fixed;
    background-size: cover;
}
header {
    background-color: aliceblue;
    padding: 10px;
    max-width: 600px;
    margin: auto;
    text-align: center;

}

main {
    background-color: white;
    padding: 10px;
    max-width: 600px;
    margin: auto;
}

main h1 {
    text-align: center;
    padding: 20px;
}

main p {
    padding: 10px;
    text-align: justify;
}
