@charset "utf-8";

/* ESTILO PARA IMPRESSORA */

/*  --- Configuração Geral --- */

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
}

/* --- Menu / Cabeçalho --- */
header > ul {
    display: none;
}

/* --- Conteúdo --- */

html {
    text-align: justify;
    font-size: 1em;
    line-height: 1em;
}


/* --- Rodapé --- */
main::after{
    content: 'Este conteúdo foi criado por Gabrielle';
}

footer{
    display: none;
}