@charset "UFT-8";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to right, #F27999, #d69e36a9 );
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6d501b94;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #542673;
    text-align: center;
    text-shadow: 1px 1px 3px #341747af;
}

h2 {
    color: #F2A2A2;
}

p {
    text-align: justify;
}
 